.leftsidebar {
  width: 20%;
  padding-right: 8px;
  color: #999;
  font-size: 14px;
}

.leftsidebar > p {
  font-weight: 700;
  cursor: pointer;
}

.addFriend {
  display: flex;
  justify-content: space-between;
}

.plusIcon {
  cursor: pointer;
}

.people {
  margin-top: 0.5rem;
}

.addFriend {
  background: rgb(238, 238, 238);
  padding: 3px 2px;
}

.friend:hover {
  font-weight: 600;
  color: #5bc5a7;
}

.friend span {
  margin-left: 0.3rem;
  cursor: pointer;
}